<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalhelper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/care"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/care"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalHelper">
        <activity
            android:name=".profiles.Doctor_Profile"
            android:exported="true" />
        <activity
            android:name=".Reminder.Doctor_Appoinment"
            android:exported="true" />
        <activity
            android:name=".profiles.Profile_tips"
            android:exported="true" />
        <activity
            android:name=".NewMedicine_Appoinment.NewMedicineRegstier"
            android:exported="true" />
        <activity
            android:name=".profiles.medicine_Profile"
            android:exported="true" />
        <activity
            android:name=".MAIN.NavigationS"
            android:exported="true"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.MedicalHelper.NoActionBar" />
        <activity
            android:name=".menuT.AboutApp"
            android:exported="true" />
        <activity
            android:name=".Reminder.ReminderS"
            android:exported="true" />
        <activity
            android:name=".MAIN.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Reminder.AlarmReciver" />
    </application>

</manifest>